div{
  margin: 25px 10px;
}
html{
  font-family: Arial;

}
p{
margin: 10px 10px;}
img{
  width: 200px;
  margin: 5px 15px;
  vertical-align: middle;
}
button{
  color: white;
  background-color: blue;
  border-color: blue;
  border: none;
  border-radius: 10px;

  padding: 10px 15px;
  cursor: pointer;
}
button:active{
  opacity: 0.7;
}


.image-1{
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
}
.image-2{
  height: 120px;
  object-fit: cover;
  object-position: center;
}
.image-3{
  border-radius: 1000px;
}

input{
  margin: 10px 10px;
}

.search-bar{
  width: 200px;

  font-size: large;
  padding: 10px 15px;

  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(95, 95, 95, 0.5);
}
.search-bar:hover{
  border-color: rgba(95, 95, 95, 0.7);
}

.search-googlebar{
  font-size: medium;
  padding: 10px 2px;

  width: 300px;
  padding: 10px 15px;
  border-radius: 20px;
  border-style: solid;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}
.email-text{
  color: rgb(95, 95, 95);
  margin-bottom: 5px;
}
.input-linkedlbar{
  width: 250px;
  border-width: 1.4px;
  border-style: solid;
  border-radius: 3px;

  padding: 6px 8px;
  margin-top: 0;
}
.warning-text{
  color: rgb(71, 71, 71);
}
.agree-button{
  font-size: large;
  padding: 15px 150px;
  background-color: rgb(45, 104, 182);
  border-radius: 25px;
  vertical-align: center;
}

.avatar-image{
  width: 40px;
  border-radius: 150px;
  margin-right: 0;
}
.tweet-bar{
  padding: 10px 50px 10px 0px;
  border: 0;
  font-size: large;
  font-weight: 500;
}


.tweetButton{
  background-color: rgb(29, 115, 240);
  color: white;
  
  padding: 9px;
  padding-left: 19px;
  padding-right: 19px;

  font-weight: bold;
  font-size: 15px;

  border: none;
  border-radius: 20px;

  cursor: pointer;   /* рука при наведенні*/
  transition: box-shadow 0.15s;
}
.tweetButton:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); /*a - opacity*/
}